.admin {
  height: 100vh;
}
.dark-bg {
  background-color: #2a323a;
}
.icon {
  width: 20px;
  height: 20px;
}
.admin-option {
  width: 100%;
  text-decoration: none;
  color: white;
}
.active {
  color: white;
  background-color: rgb(117, 220, 20);
}
.admin-option:hover {
  color: white;
  background-color: rgb(20, 130, 220);
}
