body {
  overflow-x: hidden;
}
section {
  margin: 90px 0;
}
.brand-color {
  color: #66fb48;
}
.btn-brand {
  border: 1px solid #6f48fb;
  background-color: #2ee6f3;
  color: white;
}
.btn-brand:hover {
  background-color: rgb(247, 115, 240);
  color: #48fba7;
}

.btn {
  color: #48fbbf;
}
